<body>
	<div class="container full-height centered">
		<div>
			<h1 class="display-1">400</h1>
			<p class="lead">Oops! Bad request.</p>
			<a href="/" class="btn btn-custom btn-lg">Go Home</a>
		</div>
	</div>
</body>