@using ManagementApp.Core.ViewModels.Department
@model AddDepartmentInputModel

<div class="container">
    <div class="row">        
        <div class="justify-content-center">
            <form asp-action="Add" method="post" asp-antiforgery="true">
                <div>
                    <label for="Title">New Department Name</label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-custom mt-2">Save</button>
            </form>
        </div>
    </div>
</div>